# Verilog created file#
*~
*.csd
*.sdf
*.bak

# Xlinix created files#
*_info
*regkeys
*BatchFile
*_l
*.xst
*.cmd_log
*.map
*.syr
*.vf
*.xrpt
*.sch
*.xml
*.jhd
*.html
*.mrp
*.ngr
*.xise
*.prj
*.lso
*.tcl
*.sym
*.ngc
*.bld
*.stx
*.sch2HdlBatchFile
*.ngd
*.gise
*.xbcd
*.jou
*.log
*.ppr
*.lst
*.projectmgr
*.xreport
*.sdbx
*.sdbl
*.xmsgs
*.twr
*.rbd
*.drc
*.ncd
*.ngm
*.unroutes
*.par
*.xpi
*.txt
*.bgn
*.bit
*.pad
*.msk
*.twx
*.ut
*.csv
*.msd
*.ptwx
*.rbb
*.xwbt
*.pcf
*.ipf
*.cmd
*.ini
*.lock
*.version
*.regkeys
*.pn_info
*.sdb
*.xsl
*.wdb
*.schlog
*.exe
*.dbg
*.dll
*.dat
*.c
*.obj
*.didat
*._1
*.bmm
*.edif
*.psg
*.ll
*.vhd
*.pdf
*.psm

