NET "x[0]" LOC = T10;
NET "x[1]" LOC = T9;
NET "x[2]" LOC = V9;
NET "x[3]" LOC = M8;
NET "x[4]" LOC = N8;
NET "x[5]" LOC = U8;
NET "x[6]" LOC = V8;
NET "A" LOC = C9;
NET "clk" LOC = V10;
NET "rst" LOC = A8;
NET "out[0]" LOC = T17;
NET "out[1]" LOC = T18;
NET "out[2]" LOC = U17;
NET "out[3]" LOC = U18;
NET "out[4]" LOC = M14;
NET "out[5]" LOC = N14;
NET "out[6]" LOC = L14;
NET "an0" LOC = N16;
NET "an1" LOC = N15;
NET "an2" LOC = P18;
NET "an3" LOC = P17;
